<%- include("header") -%>

  <div class="navBar">
    <% listIn.forEach((item)=>{ %>
      <form action="/redirect" method="post">
        <button type="submit" class="redirectButton" name="redirect" value="<%= item %>">
          <p>
            <%= item %>
          </p>
        </button>
        <% }) %>
      </form>

      <div class="navAddName">
        <form action="/addName" method="post">
          <input type="text" name="addName" placeholder="Enter your name for new list">
          <button type="submit" class="addButton">+</button>
        </form>
      </div>
  </div>
  <hr>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">
    <% newListItems.forEach((item)=>{ %>
      <form action="/delete" method="post">
        <div class="item itemContent">
          <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
            <p class="itemContent">
              <%= item.name %>
            </p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
      <% }) %>

        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button class="addButton" type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
  </div>

  <div>
    <form class="removeButton" action="/removeList" method="post">

      <button type="submit" name="removeList" value="<%= listTitle %>">Remove To Do List</button>
    </form>
  </div>

  <%- include("footer") -%>